<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" href="template/styles.css">
</head>
<body>
    <div class="container">
        <div class="header"></div>
        <div class="nav">
            <ul>
                <li><a class="active" href="index.html">Home</a> </li>
                <li><a href="startingOut.html">Starting Out</a></li>
                <li><a href="expandingTaste.html">Expanding Taste</a></li>
                <li><a href="aboutCreator.html">About the Creator</a></li>
                <li><a href="contactUs.html">Contact Us</a></li>
            </ul>
        </div>
        <div class="info1"></div>
        <div class="photo"></div>
        <div class="slider"></div>
        <div class="info2"></div>
        <div class="footer"></div>
    </div>
</body>
</html>