/* Table of Contents:
    1. Container
    2. Nav Bar
    3. Header
    4. Paragraphs/Content
    5. General Styles
 */

body{
    background-color:antiquewhite;
    font-family: "Comic Sans MS";
}
/* 1. Container */
.container{
    width:1200px;
    background-color:grey;
    margin:auto;
}
/* 2. Header */
.headerAndLogo{
    width:inherit;
    height:200px;
    background-color:darkgreen;
    margin:auto;
}
.headerImage{
    width:1200px;
}

/* 3. Nav Bar */
.navigation{
    width:1200px;
    height:20px;
    background-color:goldenrod;
    margin:auto;
    padding:30px 0px 30px 0px;
    color:black;
    font-size:25px;
    text-align:center;

}

.navigation ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow:hidden;
    display:inline-block;
}
.navigation li{
    float:left;
}
.navigation li a {
    display: block;
    color: sienna;
    text-align:center;
    text-decoration: none;
    padding: 0px 16px 0px 16px;
}
.navigation li a:hover{
    background:lightgoldenrodyellow;
}
.active {
    background-color: lightgoldenrodyellow;
}

/* 4. Paragraphs/Content */
.paragraphs{
    width:1160px;
    height:40px;
    background-color:rebeccapurple;
    margin:auto;
    padding:20px 20px 20px 20px;
    color:antiquewhite;
    float:left;
    font-size:16px;
    text-align:center;

}
.secondParagraphs{
    width:1160px;
    height:100px;
    background-color:rebeccapurple;
    margin:auto;
    padding:20px 20px 20px 20px;
    float:left;
    color:antiquewhite;
    font-size:16px;
    text-align:center;
}

.box1{
    width:700px;
    height:360px;
    background-color:lightpink;
    margin:auto;
    padding:20px 0px 20px 0px;
    float:left;
    color:black;
    font-size:20px;
    text-align:center;
}

.box2{
    width:500px;
    height:360px;
    background-color:lightblue;
    margin:auto;
    padding:20px 0px 20px 0px;
    float:right;
    color:black;
    font-size:20px;
    text-align:center;
}

.miniheader1{
    width:480px;
    height:60px;
    background-color:purple;
    float:left;
    text-align:center;
    padding:10px;
    color:black;
    font-size:20px;
    text-align:center;
}
.miniheader2{
    width:680px;
    height:60px;
    background-color:yellow;
    float:right;
    text-align:center;
    padding:10px;
    color:black;
    font-size:20px;
    text-align:center;
}
.box3{
    width:460px;
    height:860px;
    background-color:red;
    float:left;
    padding:20px;
    margin:auto;
    color:black;
    font-size:18px;
    text-align:center;
}
.box4{
    width:660px;
    height:860px;
    background-color:blue;
    float:right;
    padding:20px;
    margin:auto;
    color:black;
    font-size:20px;
    text-align:center;
}
.box5{
    width:1160px;
    height:800px;
    padding:20px;
    background-color:lemonchiffon;
    float:left;
    margin:auto;
    color:black;
    font-size:16px;
    text-align:center;
}
.secondTMBGphoto{
    height: 288px;
    width: 512px;
  }
img{
    width:90%;
}

.list{
    width:720px;
    height:460px;
    background-color:lightblue;
    margin:auto;
    padding: 20px 40px 20px 40px;
    float: right;
}
.floodimage{
    width:300px;
    height:400px;
    float:left;
    padding:50px;
    background-color:lightpink;
}
.album{
    width:100px;
    height:100px;
    margin:10px;
}
table{
    border: 3px;
    border-spacing:4px;
    background-color:white;
    float: left;
    margin:auto;

}

h2{
    font:inherit;
    font-size:20px;
    text-decoration:underline;
}

#tablerow1{
    background-color:lightpink;
}
#tablerow2{
    background-color:lightskyblue;
}
#tablerow3{
    background-color:lightgreen;
}
#tablerow4{
    background-color:orangered;
}
#tablerow5{
    background-color:orange;
}
#tablerow6{
    background-color:plum;
}
#tablerow7{
    background-color:hotpink;
}
